###############################################################################
# Universal Blockchain Platform (UBP)
# Development Requirements
###############################################################################

# -----------------------------------------------------------------------------
# Testing
# -----------------------------------------------------------------------------

pytest==8.3.2
pytest-cov==5.0.0

# -----------------------------------------------------------------------------
# Code Formatting
# -----------------------------------------------------------------------------

black==24.8.0
isort==5.13.2

# -----------------------------------------------------------------------------
# Linting
# -----------------------------------------------------------------------------

flake8==7.1.1
mypy==1.11.1

# -----------------------------------------------------------------------------
# Security
# -----------------------------------------------------------------------------

bandit==1.7.9

# -----------------------------------------------------------------------------
# Documentation
# -----------------------------------------------------------------------------

mkdocs==1.6.1
mkdocs-material==9.5.34

# -----------------------------------------------------------------------------
# Development Utilities
# -----------------------------------------------------------------------------

pre-commit==3.8.0
ipython==8.27.0
